.tabla {
    background-color: aqua;
    border: 0%;
    padding: 0%;
}




.head {
    border: solid 5px black;
    background-color: #283747 ;
    color: #28B463 ;
}

.casilla1{
    border: solid 5px black;
    background-color: #28B463;
}

.casilla2 { 
    border: solid 5px black;
    background-color: #145A32;
}


